*{
    font-family: 'Roboto', sans-serif;
    color: silver;
}
.row{
    background-color: ivory;
    display: flex;
}
.col{
    flex: 1;
    margin: 10px;
    padding: 15px;
    background-color: rgb(22, 78, 78);
    display: flex;
}
.col-2{
    flex: 2;
    margin: 10px;
    padding: 15px;
    background-color: rgb(22, 78, 78);
    display: flex;
}
.col-3{
    flex: 3;
    margin: 10px;
    padding: 15px;
    background-color: rgb(22, 78, 78);
    display: flex;
}

